<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1" android:versionName="1.0.0"
    package="com.digiplex.extra.grantpermissiondemo">

    <uses-sdk android:minSdkVersion="9" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">

        <activity
            android:name=".MainActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ContactActivity"
            android:exported="false"
            android:icon="@drawable/ic_launcher_shortcut_directdial"
            android:label="@string/contacts">
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="x-conference/x-cooltalk" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageActivity"
            android:exported="false"
            android:icon="@drawable/ic_launcher_gallery"
            android:label="@string/images">
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="x-conference/x-cooltalk" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CameraActivity"
            android:exported="false"
            android:icon="@drawable/ic_launcher_camera"
            android:label="@string/camera"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/x-java" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name="GalleryLauncherActivity"
            android:icon="@drawable/ic_launcher_gallery"
            android:label="@string/gallery"
            android:targetActivity="CameraActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/x-java" />
            </intent-filter>
        </activity-alias>
        <activity
            android:name=".ProviderActivity"
            android:label="Providers"></activity>
    </application>

</manifest>